extends ../../layouts/admin

block content
    .da-page

        +pageHeader('Tax Rates', 'Stripe Tax Rate IDs used for e-racuni.hr VAT compliance')
            +addBtn((adminPrefix || '') + '/tax-rates/new', 'New Tax Rate')

        .da-section
            .da-panel
                if taxRates && taxRates.length
                    .da-table-scroll
                        table.da-table
                            thead
                                tr
                                    th Name
                                    th Stripe Tax Rate ID
                                    th Percentage
                                    th(style='text-align:right') Actions
                            tbody
                                each tr in taxRates
                                    tr.da-row(data-id=tr.id)
                                        td.da-cell-primary= tr.name
                                        td
                                            code(style='font-size:0.8rem')= tr.stripeTaxRateId
                                        td
                                            span.da-badge.da-badge--info= tr.percentage + '%'
                                        td
                                            .da-cell-actions
                                                a.da-row-btn.da-row-btn--edit(href=(adminPrefix || '') + '/tax-rates/' + tr.id + '/edit') Edit
                else
                    p.da-table-empty No tax rates yet. Create one using a Stripe Tax Rate ID from your Stripe Dashboard.
